<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/travis-watson1">Travis Watson</a>, a student currently learning web development. 
  </p>
  <br />
  <p>
    Travis has worked in healthcare and finance. Being a graduate of the University of Tennessee, he is a huge Volunteers fan. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4 text-center">
      <%= image_tag 'myself.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Travis Watson</h2>
      <br>
      <p>
        Travis Watson has worked in healthcare handling CT applications and the financial industry. He is currently studying to become a web developer. 
      </p>
    </div>
  </div>
<br class="clear">
<br>
<br>
<br>
<br>
</div>